# SwiftFormat — Airbnb Style
# Adapted from nxt-up/nextup-ios-app/airbnb.swiftformat

--exclude .build,DerivedData

# Options
--swift-version 5.0
--self remove
--import-grouping testable-bottom
--trailing-commas multi-element-lists
--trim-whitespace always
--indent 2
--ifdef no-indent
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--wrap-conditions before-first
--closing-paren balanced
--call-site-paren balanced
--func-attributes prev-line
--type-attributes prev-line
--pattern-let inline
--property-types inferred
--empty-braces spaced
--ranges preserve
--operator-func no-space
--else-position same-line
--guard-else next-line
--semicolons never
--doc-comments preserve
--max-width 130

# Rules
--rules anyObjectProtocol
--rules blankLinesBetweenScopes
--rules consecutiveSpaces
--rules consecutiveBlankLines
--rules duplicateImports
--rules hoistPatternLet
--rules indent
--rules redundantParens
--rules redundantReturn
--rules redundantSelf
--rules redundantType
--rules redundantPattern
--rules redundantGet
--rules redundantFileprivate
--rules redundantRawValues
--rules sortImports
--rules strongifiedSelf
--rules trailingCommas
--rules trailingSpace
--rules linebreakAtEndOfFile
--rules typeSugar
--rules wrap
--rules wrapArguments
--rules wrapAttributes
--rules braces
--rules redundantClosure
--rules redundantInit
--rules redundantVoidReturnType
--rules redundantOptionalBinding
--rules redundantInternal
--rules unusedArguments
--rules spaceInsideBrackets
--rules spaceInsideBraces
--rules spaceAroundBraces
--rules spaceInsideParens
--rules spaceAroundParens
--rules spaceAroundOperators
--rules blockComments
--rules spaceAroundComments
--rules spaceInsideComments
--rules blankLinesAtStartOfScope
--rules blankLinesAtEndOfScope
--rules emptyBraces
--rules elseOnSameLine
--rules void
--rules semicolons
